<MudPaper Class="fixed-footer mud-elevation-z4" BackgroundColor="#343a40" Padding="CssSpacing.Small">
    <div class="footer-content">
        <span style="color: black;">© 2024 Simon Codrington III Portfolio</span>
        <div class="footer-info">
            <div class="footer-item">
                <MudIcon Icon="@Icons.Material.Filled.Email" Size="Size.Medium" Class="mr-2" />
                <span style="color: black;">Simon.CodringtonIII@outlook.com</span>
            </div>
            <div class="footer-item">
                <MudIcon Icon="@Icons.Material.Filled.Phone" Size="Size.Medium" Class="mr-2" />
                <span style="color: black;">305 202 1576</span>
            </div>
            <div class="footer-item">
                <MudIcon Icon="@Icons.Material.Filled.DesktopWindows" Size="Size.Medium" Class="mr-2" />
                <MudLink Href="https://github.com/SyborgIII" Target="_blank" Style="color: black;">https://github.com/SyborgIII</MudLink>
            </div>
            <div class="footer-item">
                <MudIcon Icon="@Icons.Material.Filled.DesktopWindows" Size="Size.Medium" Class="mr-2" />
                <MudLink Href="https://www.linkedin.com/in/spciii/" Target="_blank" Style="color: black;">https://www.linkedin.com/in/spciii/</MudLink>
            </div>
        </div>
    </div>
</MudPaper>

@code {

}
