@page "/showcase"
@using MudBlazor

<PageTitle>Showcase</PageTitle>

<MudContainer Style="height:180px;">
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
            <div>
                <MudText Typo="Typo.h5">Software Engineering and Data Science Showcase</MudText>
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
            <div>
                <MudText Typo="Typo.body2">I have a passion for developing innovative and scalable software solutions. Here are some passion projects of mine.</MudText>
            </div>
        </MudItem>
    </MudGrid>
</MudContainer>

<MudDivider />


<MudContainer MaxWidth="MaxWidth.Medium">

    <MudCard Style="background-color: black; ">
        <MudCardHeader>
            <MudText Typo="Typo.h4">NCAA Football EDA</MudText>
        </MudCardHeader>
        <MudCardMedia Image="/Photos/portfolio hero photo 13.png" Height="500" />
        <MudCardContent>
            <MudText Typo="Typo.body1">I conducted an exploratory data analysis of 10 years' worth of recent football data across all Division 1 teams to identify key performance indicators (KPIs) that could predict season win totals. This project was executed using Jupyter Notebook, leveraging libraries such as NumPy, Plotly, and Python for data manipulation and visualization.</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Href="https://notebooksharing.space/view/f4ff70292139e999fd6c890ffc04f2c7ac9791db4b5814d1f1fdf9070c093f19#displayOptions=" Target="_blank">Demo</MudButton>
        </MudCardActions>
    </MudCard>


    <!-- Accountability Tracking App -->

    <MudCard Style="background-color: black; ">
        <MudCardHeader>
            <MudText Typo="Typo.h4">Accountability Tracking App</MudText>
        </MudCardHeader>
        <MudCardMedia Image="/Photos/Accounta Bank.png" Height="500" />
        <MudCardContent>
            <MudText Typo="Typo.body1">An application designed for families and teachers to track points awarded for completing tasks and activities. Built using ASP.NET Blazor WebAssembly, with an API developed in .NET, utilizing a SQL database and Entity Framework. The application is deployed and managed on Azure and follows Domain-Driven Design and Clean Architecture principles, ensuring scalability.</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Href="https://uiblazor20240630132733.azurewebsites.net/" Target="_blank">Demo</MudButton>
        </MudCardActions>
    </MudCard>


    <!-- Portfolio Site -->

    <MudCard Style="background-color: black; ">
        <MudCardHeader>
            <MudText Typo="Typo.h4">Portfolio Site</MudText>
        </MudCardHeader>
        <MudCardMedia Image="/Photos/portfolio hero photo 12.png" Height="500" />
        <MudCardContent>
            <MudText Typo="Typo.body1">A personal portfolio website built with .NET and Blazor WebAssembly, deployed on Azure. The site includes a QA chatbot, also hosted on Azure, which has been custom-trained using Azure services to provide personalized responses.</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Href="/" Target="_blank">Demo</MudButton>
        </MudCardActions>
    </MudCard>

    <!-- Athlete Evaluation Algorithm and Data Collector -->

    <MudCard Style="background-color: black; ">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h4">Athlete Evaluation Algorithm and Data Collector</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudCardMedia Image="/Photos/Football.jpg" Height="500" />
        <MudCardContent>
            <MudText Typo="Typo.body1">This project was my introduction to programming. Initially, I used Excel to evaluate game film before understanding what coding truly entailed. I created an aggregate algorithm in Excel to analyze and produce performance reports from game footage.</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton Href="https://github.com/SyborgIII/PlayerEvaluationAggregatee" Target="_blank">Download on Github</MudButton>
        </MudCardActions>
    </MudCard>


</MudContainer>


@code {
    // Code-behind logic if necessary
}
